.navbardireita {
    align-content: right;
    align-items: right;
}

nav {
    background-color: #11A5D3;
    height: 50px;
}

.links {
	font-family: "Helvetica";
	font-size: 25px;
	margin: auto;
}


nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}