<body>
    <div>
        <div id="circle">
            <div><p id="titulo">melhores<br>momentos</p></div>
        </div>
    </div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/assets/capsulabranca.png" alt="logo" width="130vw"></a>
        <a routerLinkActive="active" routerLink="/telainicial" class="linkinicio"><li>Início</li></a>
        <a routerLinkActive="active" routerLink="/categoriascapsula" class="linkcategorias"><li>Categorias</li></a>
      </div>
    </nav>
  </div>

  <div class="col s12" style="padding-bottom:180px;">
        <img>

  </div>
  <div class="big1">
        <img>

  </div>
  <div class="big2">
        <img>

  </div>
  <div class="big3">
        <img>

  </div>
  <div class="big4">
        <img>

  </div>
  <div class="big5">
        <img>

  </div>
  <div class="big6">
        <img>

  </div>

  <div class="big7">
        <img>
  </div>

  

</body>

