<body>
    <div>
        <div id="circle">
            <div><p id="titulo">melhores<br>momentos</p></div>
        </div>
    </div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/assets/capsulabranca.png" alt="logo" width="130vw"></a>
        <a routerLinkActive="active" routerLink="/telainicial" class="linkinicio"><li>Início</li></a>
        <a routerLinkActive="active" routerLink="/categoriascapsula" class="linkcategorias"><li>Categorias</li></a>
      </div>
    </nav>
  </div>

  <div class="col s12" style="padding-bottom:180px;">
        <img>

  </div>
  <div class="big1" id="big1" >
      <img id="replaceMeBig1">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog1()">
        </a> 
  </div>

  <div id="modal1" class="modal">
            <div class="modal-content">
              <ul>
                <li><img width=100px; heigth=100px; src="/assets/familia0.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia0.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia1.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia1.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia2.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia2.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia3.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia3.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia4.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia4.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia5.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia6.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/familia7.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol0.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol1.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol2.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol3.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol4.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol5.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol6.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol7.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol8.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol9.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol10.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol11.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol12.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>
                <li><img width=100px; heigth=100px; src="/assets/carol13.jpeg" class="thumbnail" (click)="selecionarfoto('/assets/familia5.jpeg')"></li>

              </ul>
            </div>
  </div>


  <div class="big2" id="big2">
        <img id="replaceMeBig2">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog2()">
        </a>
  </div>





  <div class="big3" id="big3">
        <img id="replaceMeBig3">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog3()">
        </a> 
  </div>





  <div class="big4" id="big4">
        <img id="replaceMeBig4">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog4()">
        </a> 
  </div>





  <div class="big5" id="big5">
        <img id="replaceMeBig5">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog5()">
        </a> 
  </div>





  <div class="big6" id="big6">
        <img id="replaceMeBig6">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog6()">
        </a> 
  </div>





  <div class="big7" id="big7">
        <img id="replaceMeBig7">
        <a id="modalTrigger" data-target="modal1" class="modal-trigger" mat-button (click)="openDialog7()">
        </a> 
  </div>






</body>

