/*navbar*/

nav {
    background-color: #11A5D3;
    height: 50px;
}

nav img {
	position: relative;
	left: 150px;
	top: -5px;
}

nav li {
	position: relative;
	left: 320px;
	top: -8px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
}

/*body*/

body {
	background: url('/assets/fundotela.jpg')
}

.subtitulo {
	text-align: center;
	color: #929292;
	font-size: 35px;
	margin-top: 0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  margin-left:auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: inline-block;
  font-size: 30px;
}

.inputnome {
	text-align: right;
	float: right;
}

.inputsobrenome {
	float: right;
}

.inputapelido {
	float: right
}

.inputemail {
	float: right;
}

.inputtelefone {
	float: right;
}

.inputcpf {
	float: right;
}

input[type=text] {
  background-color: white;
  border-color: #08A5D3;
  padding: 12px 20px;
  border-radius: 50px;
  padding: 0;
}

.inline-radio {
	display: flex;
	position: absolute;
}

#link2 {
	font-family: "helvetica";
	font-size: 20px;
	text-align: right;
	margin-right: 15%;
}

/*
.linknovodestinatario {
	font-family: "helvetica";
	font-size: 20px;
	text-align: right;
	margin-right: 15%;
}*/

.btn.waves-effect.waves-light {
	border-radius: 17px;
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #08A5D3;
	text-transform: uppercase;;
	width: 60%;
	height: 50px;
	float: right;
}

input[type=radio] {
	font-size:40px;
	color:#08A5D3; 
	display: inline;
}
