<body>
    <div>
        <div id="circle">
            <div><p id="titulo">melhores<br>momentos</p></div>
        </div>
    </div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="/assets/capsulabranca.png" alt="logo" width="130vw"></a>
        <a routerLinkActive="active" routerLink="/telainicial" class="linkinicio"><li>Início</li></a>
        <a routerLinkActive="active" routerLink="/categoriascapsula" class="linkcategorias"><li>Categorias</li></a>
      </div>
    </nav>
  </div>
  <div class="corpopagina">
    <div class="linknovoarquivo">
      <a data-target="modal1" class="modal-trigger" mat-button (click)="openDialog()"><p>adicionar novo arquivo</p></a> 
      <div id="modal1" class="modal">
          <div class="modal-content">
            <ul>
              <li><a routerLinkActive="active" routerLink="/melhoresmomentosalfa" data-dismiss="modal" (click)="close()"><img width=130px; height=130px; src="./assets/icones_melhores_momentos/iconetexto.png" alt="add"></a></li>
              <li><a routerLinkActive="active" routerLink="/melhoresmomentosalfa" data-dismiss="modal" (click)="close()"><img width=130px; height=130px; src="./assets/icones_melhores_momentos/iconefoto.png" alt="add"></a></li>
              <li><a routerLinkActive="active" routerLink="/melhoresmomentosalfa" data-dismiss="modal" (click)="close()"><img width=130px; height=130px; src="./assets/icones_melhores_momentos/iconevideo.png" alt="add"></a></li>
              <li><a routerLinkActive="active" routerLink="/melhoresmomentosalfa" data-dismiss="modal" (click)="close()"><img width=130px; height=130px; src="./assets/icones_melhores_momentos/iconeaudio.png" alt="add"></a></li>
              <li><a routerLinkActive="active" routerLink="/melhoresmomentosalfa" data-dismiss="modal" (click)="close()"><img width=130px; height=130px; src="./assets/icones_melhores_momentos/iconelink.png" alt="add"></a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  
  

</body>