
<nav>
		<div class="nav-wrapper">
		  <a href="#" class="brand-logo"><img src="/assets/capsulabranca.png" alt="logo" width="130vw"></a>
		  <ul class ="navbardireita" id="nav-mobile" class="right hide-on-med-and-down">
		  </ul>
		</div>
	  </nav>

<body>
	<br><br><br><br><br>	
		  <div class="row">
		  	<div class="col s12 m3"></div>
		  	<div id="avatar1" class="col s12 m2">
				<a routerlinkActive="active" routerLink="/categoriascapsula">
		  			<img class="avatares" height="200" width="200" src="/assets/avatarluisa.jpg" alt="avatarluisa">
				</a>  
				<a id="botao" class="waves-effect waves-teal btn-flat">Luisa</a>
			</div>
			<div id="avatar2" class="col s12 m2">
				<a routerlinkActive="active" routerLink="/categoriascapsula">
					<img class="avatares" height="200" width="200" src="/assets/avatarluisa.jpg" alt="avatarluisa">
				</a> 
				<a id="botao" class="waves-effect waves-teal btn-flat">Família Santos</a>
			</div>
			<div id="avatar3" class="col s12 m2">
				<a routerlinkActive="active" routerLink="/categoriascapsula">
					<img class="avatares" height="200" width="200" src="/assets/avatarluisa.jpg" alt="avatarluisa">
				</a>
		  		<a id="botao" class="waves-effect waves-teal btn-flat">Criar Nova Cápsula</a>
			</div>
			<div class="col s12 m3"></div>
		  </div>

<br><br><br><br><br><br><br><br>

<br><br>

	<footer class="footer-distributed">
		<div class="footer-left">
			<p>Cápsula © 2019</p>
		</div>
	</footer>
</body>



