.navbardireita {
    align-content: right;
    align-items: right;
}

nav {
    background-color: #11A5D3;
    height: 50px;
}

nav.nav-center ul {
    text-align: center;
}

body {
    background-color: #fcfcfc;
}

/*h5 {
	text-align: center
}
*/

a {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.avatares {
	border-radius: 100px;
	border: 2px solid #08A5D3;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	margin-top: 25px;
}

.tituloeditar {
	color:#08A5D3;
	font-size: 30px;
	font-family: "helvetica";
	text-align: center;
}

#avatar1 {
	align-content: center;
	text-align: center;
}

#avatar2 {
	align-content: center;
	text-align: center;
	align-items: center;
}

#avatar3 {
	align-content: center;
	text-align: center;
}

.btn-flat.waves-effect.waves-teal {
	color: #f27d00;
	font-size: 30px;
	font-family: "helvetica";
	background: none;
	width: 60%;
	height: 90%;
	text-transform:none;
	padding: 0;
	font-weight: 100;
	
}

li {
    list-style-type: none;
}