<app-navbar></app-navbar>
<body>
        <div class="imgluisa">
                <img height="150px" width="150px" src="/assets/avatarluisa.jpg" alt="avatarluisa">
            </div>
    <div class="row">
        <div class="col s2">
            <h2>para<br>luisa</h2>
        </div>
        <div class="col s8">
            <div class="fixed fixed1">
                <p>tesouros</p>
            </div>    

            <div class="fixed fixed2">
                <p>relatos</p>
            </div>

           

            <div class="fixed fixed3">
                <p>melhores<br>momentos</p>
            </div>

            <div class="fixed fixed4">
                <p>segredos</p>
            </div>

            <div class="fixed fixed5">
                <p>confissōes</p>
            </div>
        </div>
        <div class="col s2">

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            <div class="linksedicao">
                <h5>inspiracoes</h5>
                <a data-target="modal1" class="modal-trigger" mat-button (click)="openDialog()"><h5>criar nova categoria</h5></a>               
            </div>
        </div>
    </div>
</body>