<app-navbar></app-navbar>
<body>
  <div class="cabecalho">
    <h1 class="primeirotitulo">Gerenciador de dados</h1>
    <h1 class="segundotitulo">da Cápsula</h1>
    <br>
    <p class="subtitulo">Dados do Receptor</p>
  </div>

 <!-- <div class="teladosdados">
      <div class="col s12 m12 l6">
          <div class="card-panel">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="jimmy" id="name2" type="text">
                    <label for="Nome" class="active">Nome</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="monte silva" id="email2" type="text">
                    <label for="Sobrenome" class="active">Sobrenome</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="exemplo@exemplo.com" id="password2" type="email">
                    <label for="E-mail" class="active">E-mail</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="123.456.789-10" id="message2" type="text">
                    <label for="CPF" class="active">CPF</label>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                        <i class="mdi-content-send right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
</body>