<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/assets/capsulabranca.png" alt="logo" width="130vw"></a>
      <a routerLinkActive="active" routerLink="/edicaodestinatarios" class="brand-logo"><li><img src="/assets/engrenanembranca.png" alt="logo" width="40vw" class="engrenagem"></li></a>
      <a routerLinkActive="active" routerLink="/telainicial" class="linkinicio"><li>Início</li></a>
      <ul class ="navbardireita" id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>

<br>
<body>

<div>
    <div >
            <img class="imgluisa" height="150px" width="150px" src="/assets/familia0.jpeg" alt="avatarfamilia">
        </div>
<div class="row">
    <div class="col s2">
        <h2>família<br>santos</h2>
    </div>
    <div class="col s8">
        <div class="fixed fixed1">
            <p>tesouros</p>
        </div>    

        <div class="fixed fixed2">
            <p>relatos</p>
        </div>

       

        <div class="fixed fixed3">
            <br><p><a style="color: white" routerActive="active" routerLink="/melhoresmomentosbetagrupo"> melhores<br>momentos </a></p>
        </div>

        <div class="fixed fixed4">
            <p>segredos</p>
        </div>

        <div class="fixed fixed5">
            <p>confissōes</p>
        </div>
    </div>
    <div class="col s2">                
        <div class="linksedicao">
                <a data-target="modal2" class="modal-trigger" mat-button (click)="randomQuestion()"><h5>inspiraçoes</h5></a>
            <a data-target="modal1" class="modal-trigger" mat-button (click)="openDialog()"><h5>criar nova categoria</h5></a>               
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>nova categoria</h4>
                <label class="inputnome" for="nome">nome:</label><br>
                <br>
                <input type="text" id="nome" name="nome"><br>
                <div class="botoescores">
                    <p>cor:</p>
                    <button class="botao1"></button>
                    <button class="botao2"></button>
                    <button class="botao3"></button>
                    <button class="botao4"></button>
                    <button class="botao5"></button>
                    <button class="botao6"></button>
                    <button class="botao7"></button>
                    <button class="botao8"></button>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat" routerlinkActive="active" routerLink="/categoriascapsulagrupo">salvar</a>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h3>{{perguntas[daVez]}}</h3>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green btn-flat" routerlinkActive="active" routerLink="/categoriascapsulagrupo">salvar</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>