<body>
    <nav>
        <div class="nav-wrapper">
          <a routerLinkActive="active" routerLink="/telainicial" class="brand-logo"><img src="/assets/capsulabranca.png" alt="logo" width="130vw"></a>
          <a routerLinkActive="active" routerLink="/telainicial" class="linkinicio"><li>Início</li></a>
          <ul class ="navbardireita" id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>

<br>

  <div>
    <p class="subtitulo">Dados da Cápsula</p>
    <br>
  </div>
  <div class="teladadosdacapsula">
      <div>
          <form action="">
            <div class="row">
              <div class="col s12 m2"></div>
              <div class="col s12 m2">
                <label class="inputnome" for="nome">nome</label>
              </div>
              <div class="col s2 m4">
                <input type="text" id="nome" name="nome">
              </div>
              <div class="col s12 m4"></div>
            </div>
          </form> 
      </div> 
     <div>
        <div class="row">
          <div class="col s12 m2"></div>
          <div class="col s12 m2">
            <p id="itemopcional1">imagem<br>de capa<br>(opcional)</p>
          </div>
          <div class="col s12 m1">
          <img id="botaoadd" height="400" width="400" src="/assets/adicionar.png" alt="botaoadicionar">
          </div>
          <div class="col s12 m2">
              <p id="itemopcional2">arquivo de<br>boas-vidas<br>(opcional)</p>
          </div>   
          <div class="col s12 m1">
          <img id="botaoadd2" height="400" width="400" src="/assets/adicionar.png" alt="botaoadicionar">
          </div>
          <div class="col s12 m4"></div>
        </div>    
      </div> 
      <div id="rodapedadosdacapsula">
          <div class="row">
            <div class="col s12 m4"></div>
            <div class="col s12 m2"></div>
            <div class="col s12 m2" id="divsalvar">
              <a id="botao" class="waves-effect waves-light btn" routerLinkActive="active" routerLink="/telainicial">salvar</a>
            </div>
            <div class="col 12 m4"></div>
          </div>
      </div>
  </div>
</body>
